<nav>
  
  <img src="assets\images\WBLogo.png" alt="" class="logo" routerLink="/home" routerLinkActive="active">
  <ul class="nav-items">
<br>
    <li><a href="#" routerLink="/produse" routerLinkActive="active">
        <h1 class="padd">Produse</h1>
      </a></li>
    <!--  <li><a href="#" routerLink="/favorite" routerLinkActive="active"><h1 class="padd">Favorite</h1></a></li>-->
    <li><a href="#" routerLink="/cos" routerLinkActive="active">
        <h1 class="padd">Coș</h1>
      </a></li>

    <li><a href="#" routerLink="/cont" routerLinkActive="active">
        <h1 class="pad-r">Cont</h1>
      </a></li>
  </ul>

</nav>